* {  /*seletor universal aplicado no site todo*/
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth; /*scroll suave nas transições*/
    
}


header {
    padding: 25px;
    background-color: black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.title-header h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}

.title-header h1:hover {
    color: gray;
    transition: 0.8s;
}

.list-header ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.list-header ul li a {
    text-decoration: none;
    color: white;
}

.list-header ul li a:hover {  /* mudando a cor da lista quando passar o mouse encima*/
    color: gray;
    transition: 0,8s;
}





.section-01 {
    gap: 15px;
    flex-direction: column;
    padding: 300px;
    background-image: url(imagens/banheiro2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: left;
    justify-content: left;
    color: white;
    

}


.button {
    width: 230px;
    height: auto;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 7px;

    border-color: transparent;
} 

.button:hover { /* mudando a cor do button quando passar o mouse encima*/
    background-color: black;
    transition: 0,8s;
}


.section-02 {
    gap: 15px;
    flex-direction: column;
    padding: 300px;
    background-image: url(imagens/sofa1.avif);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: left;
    justify-content: left;
    color: black;
    
    
}


.p {
     
}







